
<li class="list-group-item">
    <span>
        <button type="button" class="btn btn-success eat" data-id="{{id}}" data-newate="{{ate}}">
            {{#if ate}}DEVOUR{{else}}Order Again{{/if}}
        </button>                    
    </span>
    <span style="font-size: 18px; margin-left:10px">
        {{pizza_name}}
    </span>
</li>
