<div class="text-center font-weight-bold text-success">Giuseppe's Pizza</div>

<h2>Available Pizzas</h2>

<ul>
    {{#each pizza}}
        {{#unless devoured}}
            {{> pizzacard ate=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Already Eaten Pizzas</h2>

<ul>
    {{#each pizza}}
        {{#if devoured}}
            {{> pizzacard ate=false}}
        {{/if}}
    {{/each}}
</ul>