<div class="text-center" id="top"><button class="btn btn-success btn-lg">Giuseppe's Pizza</button></div>

<h2>Available Pizzas</h2>

<ul>
    {{#each pizza}}
        {{#unless devoured}}
            {{> pizzacard ate=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Already Eaten Pizzas</h2>

<ul>
    {{#each pizza}}
        {{#if devoured}}
            {{> pizzacard ate=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a New Pizza</h2>

<form class="create-form">

    <div class="form-group">
        <label for="pz">Pizza Name:</label>
        <input type="text" id="pz" name="pizza_name">
    </div>

    <button class="btn btn-success" type="submit">Add Pizza</button>

</form>